@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Forum&family=Inter&family=Jost:wght@300;400&family=Montserrat:wght@100;200;300;400&family=Quicksand:wght@500&family=Raleway:wght@100;200&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:link,
a {
	text-decoration: none;
	outline: none;
}

:root {
	scroll-behavior: smooth;

}


/*** cursor ***/

@media (hover: none) {

	.cursor2 {

		display: none !important;

	}
}


.cursor2 {
	--size: 15px;

	height: var(--size);
	width: var(--size);

	border-radius: 100%;

	transition: all 300ms ease-out;
	position: fixed;
	pointer-events: none;
	left: var(--move-x);
	top: var(--move-y);
	transform: translate(-50%, -50%);

	will-change: left, top;

	background: linear-gradient(61.77deg, #E6AD83 33.48%, #E5BC9E 39.83%, #E6AD83 51.52%, #FADEC4 69.34%, #E6AD83 75.58%), #9F6A48;
	/* This defines the color of the cursor */
	mix-blend-mode: difference;

	z-index: 99999999999;
}



.cursor.cursor-dot {

	background: linear-gradient(61.77deg, #E6AD83 33.48%, #E5BC9E 39.83%, #E6AD83 51.52%, #FADEC4 69.34%, #E6AD83 75.58%), #9F6A48;
	/* This defines the color of the cursor */
	mix-blend-mode: difference;
	/* Delete this line if you dont want the circle to invert */
	transition: width 0.6s, height 0.6s, background-color 0.6s, transform 0.3s;
	transition-timing-function: ease-out;


}

.cursor-dot.active {

	--size: 35px;

	background-color: #ffffff;

}


.swiper-wrapper {
	cursor: none !important;
}



/**********  BEGIN  ************/

.container {
	max-width: 1200px;
	margin: 0 auto;
}


body {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: #080808;
}

.luxury {
	text-transform: uppercase;
	background: linear-gradient(61.77deg, #E6AD83 33.48%, #E5BC9E 39.83%, #E6AD83 51.52%, #FADEC4 69.34%, #E6AD83 75.58%), #9F6A48;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.title {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100;
	font-size: 52px;
	line-height: 110%;
	text-transform: uppercase;
}

.subtitle {
	font-weight: 200;
	font-size: 16px;
	line-height: 150%;
}

.button_block {
	text-align: center;
}

.button {
	display: inline-block;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	/* identical to box height, or 114% */

	text-transform: uppercase;

	/* primary */

	color: #D3A188;

	margin: 48px auto 0;
	padding: 18px 85px;
	border: 1px solid;
}

.hero {
	background: radial-gradient(87.52% 87.52% at 50% 94.14%, rgba(95, 46, 30, 0.4) 0%, rgba(61, 25, 5, 0.4) 27.08%, rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4) 100%), #000000;
	min-height: 754px;
	display: flex;
	justify-content: center;
	order: -5;
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}

.header .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 32px 0;
}

.nav__menu {
	font-weight: 300;
	font-size: 14px;
	display: flex;
	gap: 48px;
	flex-wrap: wrap;
}

.menu__item a {
	font-weight: 500;
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	transition: all 0.4s ease-in-out;
}

.menu__item a:hover {
	background: linear-gradient(88.91deg, #CC9177 2.38%, #E5B59E 26.1%, #C18369 52.72%, #EAB498 73.58%, #E6A483 100.04%), #D3A188;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

#checkbox,
.menu_toggle {
	display: none;
}

.toggle {
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	transition-duration: .5s;
}

.bars {
	width: 100%;
	height: 2px;
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
}

#bar2 {
	transition-duration: .8s;
}

#checkbox:checked+.toggle .bars {
	position: absolute;
	transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
	transform: scaleX(0);
	transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
	width: 100%;
	transform: rotate(45deg);
	transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
	width: 100%;
	transform: rotate(-45deg);
	transition-duration: .5s;
}

#checkbox:checked+.toggle {
	transition-duration: .5s;
	transform: rotate(180deg);
}

.hero_text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 25px;
	max-width: 1200px;
}

.ax {
	font-weight: 200;
	font-size: 32px;
	line-height: 120%;
}

.utp {
	text-align: center;
	font-weight: 100;
	font-size: 64px;
	line-height: 110%;
	text-transform: uppercase;
}

.utp_slogan {
	font-weight: 200;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	width: 522px;
}

.video {
	order: -4;
}

.video__inner {
	position: relative;
	top: -130px;
}

.video_img {
	width: 100%;
	max-width: 1200px;
	height: auto;
}

.play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.2s ease-in-out;
}

.play:hover {
	opacity: 0.8;
}


.our_projects {
	padding-bottom: 125px;
}

.our_projects .container {
	overflow: visible;
}

.our_projects .title {
	margin-bottom: 48px;
}


/*                   Slider                   */

.swiper {
	width: 100%;
	height: 100%;
}

.mySwiper .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 338px !important;
	height: 367px !important; */
}



.mySwiper2 .swiper-slide {
	font-weight: 200;
	font-size: 16px;
	line-height: 150%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 294px !important;
}


.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 1;
}

.prev-next {
	position: relative;
	margin-top: 70px;
}


.swiper-button-prev::after {
	content: " ";
	display: block;
	height: 1px;
	width: 180px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.6);
}

.swiper-button-next::after {
	content: " ";
	display: block;
	height: 1px;
	width: 180px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.6);
}

.swiper-button-next,
.swiper-button-prev {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	width: auto;
	color: rgba(255, 255, 255, 0.6);
}

.mySwiper .swiper-slide {
	cursor: "";
}

.careers {
	position: relative;
}

.careers::before {
	content: url('/img/2.png');
	transform: scale(-1, 1) translateY(-50%);
	display: block;
	top: 50%;
	position: absolute;
	left: 0;
}

.careers__inner {
	position: relative;
	padding-bottom: 136px;
}

.careers .gradient {
	position: absolute;
	left: 0;
	top: -100%;
	height: 300%;
}

.careers .title {
	margin-bottom: 24px;
}

.careers .subtitle {
	margin-bottom: 66px;
}

.ax-line {
	width: 100%;
	height: 1px;
	background: rgba(89, 88, 88, 0.5);
	margin-bottom: 36px;
}

.vacation_content {
	display: flex;
	padding-bottom: 30px;
	justify-content: space-between;
	align-items: center;
}

.vacation_left {
	width: 50%;
	text-align: left;
}

.vacation_title {
	font-weight: 200;
	font-size: 28px;
	line-height: 130%;
	margin-bottom: 16px;

	text-transform: uppercase;
}

.more_arrov {
	display: none;
}

.vacation_subtitle {
	font-weight: 200;
	font-size: 16px;
	line-height: 150%;
}


.vacation_right {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 10px;
	margin-right: 20px;
}

.our_team {
	padding-bottom: 100px;
}

.our_team .container {
	overflow: visible;
}

.team_top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 89px;
}

.team_top .subtitle {
	max-width: 50%;
}

.team_top .title {
	max-width: 30%;
}

.team_member {
	padding-left: 12px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.position {
	font-weight: 200;
	font-size: 14px;
	line-height: 110%;
	/* or 15px */

	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.member_name {
	font-weight: 400;
	font-size: 24px;
	line-height: 110%;
	/* or 26px */

	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.team_member::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: linear-gradient(88.91deg, #CC9177 2.38%, #E5B59E 26.1%, #C18369 52.72%, #EAB498 73.58%, #E6A483 100.04%), #D3A188;
}

.projects {
	background-image: url(../img/2.png), linear-gradient(to top, #080808, #000000, #080808);
	background-position-x: right;
	background-repeat: no-repeat;
	padding-bottom: 200px;
	position: relative;
}

.projects .gradient {
	position: absolute;
	right: 0;
}

.projects__inner {
	display: flex;
	flex-direction: column;
}

.project__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.project_left {
	padding-right: 70px;
}

.project_name {
	font-size: 64px;
	line-height: 110%;
	margin-bottom: 8px;
	text-transform: uppercase;
}

.project_desc {
	font-weight: 300;
	font-size: 28px;
	line-height: 120%;
	margin-bottom: 24px;
}

.project_img {
	width: 600px;
	height: 600px;
}

.hiring {
	background: #080808;
	padding-bottom: 160px;
}


.hire_top {
	display: flex;
	gap: 103px;
	margin-bottom: 160px;
}

.hire_right {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 50px;
}

.hire_right .title {
	padding: 0 10px;
}

.hire_bottom {
	display: flex;
}

.hire_cta .title {
	font-weight: 100;
	font-size: 64px;
	line-height: 110%;
	padding: 0 30px 0 10px;
	text-transform: uppercase;
	margin-bottom: 32px;
}

.hire_cta .descr {
	padding: 0 132px 0 0;
}

.login-box {

	width: 100%;
	box-sizing: border-box;
}


.login-box .user-box {
	position: relative;
	margin-bottom: 30px;
}


.login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 0.5px solid #fff;
	outline: none;
	background: transparent;
}

.login-box .user-box label {
	position: absolute;
	top: 0;
	left: 0;
	font-style: normal;
	font-weight: 200;
	font-size: 16px;
	line-height: 150%;
	pointer-events: none;
	transition: all .5s ease-out;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
	top: -20px;
	left: 0;
	color: #bdb8b8;
	font-size: 12px;
	transition: all .5s ease-out;
}

.file-box {
	margin-bottom: 30px;
}



input[type=file]::file-selector-button {
	border: 2px solid #6c5ce7;
	display: none;
	padding: .2em .4em;
	border-radius: .2em;
	background-color: #a29bfe;
	transition: 1s;
}

input[type=file]::file-selector-button:hover {
	background-color: #81ecec;
	border: 2px solid #00cec9;
}


.portfolio {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 18px;
	width: 100%;
	height: 100px;
	background-image: repeating-linear-gradient(12deg, #D3A18880, #D3A18880 16px, transparent 16px, transparent 34px, #D3A18880 34px), repeating-linear-gradient(102deg, #D3A18880, #D3A18880 16px, transparent 16px, transparent 34px, #D3A18880 34px), repeating-linear-gradient(192deg, #D3A18880, #D3A18880 16px, transparent 16px, transparent 34px, #D3A18880 34px), repeating-linear-gradient(282deg, #D3A18880, #D3A18880 16px, transparent 16px, transparent 34px, #D3A18880 34px);
	background-size: 0.5px 100%, 100% 0.5px, 0.5px 100%, 100% 0.5px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
}

.porfolio__icon {
	text-align: center;
	color: #D3A188;
}

.porfolio__icon p {

	text-align: center;
	color: #D3A188;
}

.form_submit {
	cursor: pointer;
	display: block;
	width: 100%;
	padding: 18px 0;
	background: none;
	color: #D3A188;
	border: 1px solid #D3A188;
}

.block {
	background-color: #080808;
	height: 160px;
}

.footer {
	background-color: #060605;
	padding: 120px 0;
}

.footer .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer .line {
	margin: 48px 0;
}

.footer_bottom {
	display: flex;
	justify-content: space-between;
}

.copiright {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	opacity: 0.4;
}

.socials {
	display: flex;
	gap: 46px;
}

.nav .socials {
	display: none;
}

.social_icon svg path {
	transition: all 0.4s ease-in-out;
}

.social_icon:hover.social_icon svg path {
	fill: #D3A188;
}



#smooth-content > section {
	margin-top: -1px;
	margin-bottom: -1px;
}


/* heading animation */
.anim-title .line {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	line-height: 100%;
}
.anim-title .char {
	transform: translateY(115px);
	transition: transform .5s;
}

/* carousel autoplay */
.mySwiper .swiper-wrapper{
    transition-timing-function: linear;
}
/******** about us page *******/


.success {
	padding-top: 180px;
	display: flex;
	flex-direction: column;

	/* ff 3.6+ */
	background: -moz-radial-gradient(circle at 0% 8%, rgba(21, 14, 12, 1) 0%, rgba(8, 8, 8, 1) 33%, rgba(8, 8, 8, 1) 100%);

	/* safari 5.1+,chrome 10+ */
	background: -webkit-radial-gradient(circle at 0% 8%, rgba(21, 14, 12, 1) 0%, rgba(8, 8, 8, 1) 33%, rgba(8, 8, 8, 1) 100%);

	/* opera 11.10+ */
	background: -o-radial-gradient(circle at 0% 8%, rgba(21, 14, 12, 1) 0%, rgba(8, 8, 8, 1) 33%, rgba(8, 8, 8, 1) 100%);

	/* ie 10+ */
	background: -ms-radial-gradient(circle at 0% 8%, rgba(21, 14, 12, 1) 0%, rgba(8, 8, 8, 1) 33%, rgba(8, 8, 8, 1) 100%);

	/* global 92%+ browsers support */
	background: radial-gradient(circle at 0% 8%, rgba(21, 14, 12, 1) 0%, rgba(8, 8, 8, 1) 33%, rgba(8, 8, 8, 1) 100%);
}

.success__tittle {
	max-width: 600px;
	text-transform: uppercase;
	margin-bottom: 32px;
}

.success__descr {
	max-width: 650px;
	margin: 0 0 180px auto;
	text-align: right;
}

.gallery {
	display: flex;
	gap: 64px;
	align-items: center;
	margin-bottom: 180px;
}

.gallery img {
	width: 530px;
	height: 390px;
	object-fit: cover;
	object-position: center;
}

.gallery img.higher {
	margin-bottom: 65px;
}

.teambuildings .gallery img {
	width: 480px;
	height: 302px;
}

.teambuildings .gallery img.narrow {
	width: 282px;
	height: 383px;

}

.top_team {
	display: flex;
	align-items: center;
	gap: 105px;
	margin-bottom: 180px;
}

.top_team__title {
	margin-bottom: 25px;
}

.teambuildings_top {
	display: flex;
	align-items: center;
}

.teambuildings__tittle,
.teambuildings__descr {
	width: 50%;
}

.teambuildings_top {
	margin-bottom: 160px;

}



@media (max-width: 1200px) {
	.container {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

@media (max-width: 755px) {


	.nav .socials {
		display: flex;
		justify-content: center;
		padding-bottom: 60px;
	}

	.menu_toggle {
		display: block;
	}

	.header {
		background-color: #080808;
		height: 70px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header .container {
		width: 100%;
		justify-content: space-between;
		align-items: center;
		padding: 0;
	}

	.nav {
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 100%;
		height: calc(100svh - 70px);
		left: 0;
		right: 0;
		top: 70px;
		bottom: 0;

		background-color: #000;
		background-image: url(../img/Ellipse\ 86.png);
		background-position: left center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.nav__menu {
		flex-direction: column;
		justify-content: center;
		flex-wrap: nowrap;
		align-items: center;
		width: 100%;
		height: 100%;
		gap: 26px;
		font-weight: 100;
		font-size: 28px;
		line-height: 150%;
	}

	.hero {
		min-height: auto;
		padding-top: 160px;
		padding-bottom: 24px;
	}

	.ax {
		font-size: 16px;
		line-height: 120%;
	}

	.utp {
		font-weight: 200;
		font-size: 32px;
		line-height: 110%;
	}

	.utp_slogan {
		font-size: 16px;
		line-height: 150%;
		width: auto;
	}

	.video {
		padding-bottom: 120px;
	}

	.video .container {
		padding: 0 !important;
	}

	.video__inner {
		top: 0;
	}

	.video_img {
		height: 473px;
	}

	.play {
		width: 95px;
	}

	.mySwiper .swiper-slide {
		height: 284px !important;
	}

	.prev-next {
		display: none;
	}

	.our_projects {
		padding-bottom: 50px;
	}

	.title {
		font-weight: 200;
		font-size: 36px;
		line-height: 110%;
	}

	.careers .title {
		margin-bottom: 8px;
	}

	.vacation_link {
		display: none;
	}

	.vacation_left {
		width: 100%;
	}

	.vacation_title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.vacation_title p {
		width: 80%;
	}

	.more_arrov {
		display: block;
		width: 20%;
		text-align: right;
	}

}

@media (max-width: 480px) {

	.swiper-slide-active {
		max-width: 91vw !important;
		transition: all 0.3s ease-out;
	}

	.swiper-slide {
		transition: all 0.3s ease-out;
	}
}