@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Forum&family=Inter&family=Jost:wght@300;400&family=Quicksand:wght@500&family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  user-select: none;
}

a:link,
a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

:root {
  scroll-behavior: smooth;
  --section-margin: 120px;

  --bg-type-1: url(../img/noise.svg) repeat, linear-gradient(180deg, #000 0%, #301914 100%);
  -bg-blend-1: overlay, normal;

  --bg-type-1-2: url(../img/noise.svg) repeat, linear-gradient(180deg, #301914 0%, #000 100%);


  --bg-type-2: url(../img/noise.svg) repeat, linear-gradient(225deg, #232323 0%, #0E0E0E 100%), #D9D9D9;

  --bg-blend-1: overlay, normal;
}

.cursor2,
.cursor-dot,
.content {
  will-change: transform;
}

/*** cursor ***/

@media (hover: none) {
  .cursor2 {
    display: none !important;
  }
}

.cursor2 {
  --size: 15px;

  height: var(--size);
  width: var(--size);

  border-radius: 100%;

  transition: all 300ms ease-out;
  position: fixed;
  pointer-events: none;
  left: var(--move-x);
  top: var(--move-y);
  transform: translate(-50%, -50%);

  will-change: left, top;

  background: linear-gradient(90deg, #be6552 0%, #eca9a0 49.01%, #be6552 100%);
  /* This defines the color of the cursor */
  mix-blend-mode: difference;

  z-index: 99999999999;
}

.cursor.cursor-dot {
  background: linear-gradient(90deg, #be6552 0%, #eca9a0 49.01%, #be6552 100%);
  /* This defines the color of the cursor */
  mix-blend-mode: difference;
  /* Delete this line if you dont want the circle to invert */
  transition: width 0.6s, height 0.6s, background-color 0.6s, transform 0.3s;
  transition-timing-function: ease-out;
}

.cursor-dot.active {
  --size: 35px;

  background-color: #ffffff;
}

.swiper-wrapper {
  cursor: none !important;
}

/**********  BEGIN  ************/

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  color: #FFF;
  font-size: 18px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  font-feature-settings: "pnum" on, "lnum" on;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #080808;
}

.luxury {
  text-transform: uppercase;
  background: linear-gradient(180deg, #be6552 0%, #eca9a0 51.04%, #be6552 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main_page .title {

  text-align: center;
}

.title {
  color: #FFF;
  font-size: 52px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
}

.subtitle {
  font-weight: 200;
  font-size: 16px;
  line-height: 150%;
}

.new_subtitle {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.button_block {
  text-align: center;
}

.button {
  background: lightgray 0% 0% / 100px 100px repeat, linear-gradient(225deg, #232323 0%, #0E0E0E 100%);
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  padding: 24px;
  border: 1px solid #de9488;
}

.hero {
  background: var(--bg-type-1);
  background-blend-mode: var(--bg-blend-1);
  min-height: 754px;
  display: flex;
  justify-content: center;
  order: -5;
  overflow: hidden;
  position: relative;
}


.hero .lines {
  top: -150px;
}

.lines {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 450vh;
  height: 1200px;
  justify-content: space-around;
  transform: rotate(90deg);
}

.lline {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
}

/* 
.lline::after {
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translatey(-50);
  content: "";
  width: 20%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #009fb7 80%, #009fb7 100%);
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}

.lline:nth-child(1)::after {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.lline:nth-child(2)::after {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

.lline:nth-child(3)::after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.lline:nth-child(4)::after {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

@-webkit-keyframes move {
  0% {
    left: -20%;
  }

  100% {
    left: 100%;
  }
}

@keyframes move {
  0% {
    left: -20%;
  }

  100% {
    left: 100%;
  }
} */


.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px 0;
}

.nav__menu {
  font-weight: 300;
  font-size: 14px;
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

.menu__item a {
  font-weight: 600;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.menu__item a:hover {
  background: linear-gradient(180deg, #be6552 0%, #eca9a0 50%, #be6552 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#checkbox,
.menu_toggle {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#checkbox:checked+.toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked+.toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked+.toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked+.toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked+.toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

#tilt {
  will-change: transform;
  transition: .5s cubic-bezier(.05, .5, 0, 1);

}

#tilt:hover {
  cursor: pointer;
}


.hero_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  max-width: 1200px;
  z-index: 2;
}

.ax {
  text-align: center;
  font-size: 40px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.utp {
  color: #FFF;
  text-align: center;
  font-size: 70px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  line-height: 110%;
  text-transform: uppercase;
}

.utp_slogan {
  font-weight: 200;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  width: 522px;
}

.video {
  background: var(--bg-type-2);
  background-blend-mode: var(--bg-type-1);

  padding-bottom: var(--section-margin);
}

.video__inner {
  position: relative;
  top: -130px;
  margin: 0 auto -130px;
  overflow: hidden;
  text-align: center;
  width: 1200px;
  box-shadow: 0px 50px 80px rgba(255, 255, 255, 0.03);
}

.video_wrap {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.video_img {
  position: absolute;
  width: 100vw;
  height: 90vh;
  object-fit: cover;

}

.play,
.video_img {
  cursor: pointer;
}

.main_page .play {
  display: none;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease-in-out;
}

.play:hover {
  opacity: 0.8;
}

.cool_info {
  margin-top: var(--section-margin);
}

.cool_info .title,
.cool_info .new_subtitle {
  margin: 0 auto;
  max-width: 934px;
}

.cool_info .title {
  margin-bottom: 24px;
}

.cool_info .new_subtitle {
  margin-bottom: 55px;
}

.cool_stat {
  display: flex;
  justify-content: space-between;
}

.stat_body {
  display: flex;
  flex-direction: column;
}

.cool_number {
  text-align: center;
  font-size: 52px;
  font-weight: 300;
  line-height: 110%;
  text-transform: uppercase;
}

.cool_text {
  text-align: center;
}





.our_projects .container {
  overflow: visible;
}

.our_projects .title {
  margin-bottom: 48px;
}


/*                   Slider                   */

.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 338px !important;
	height: 367px !important; */
}

.mySwiper2 .swiper-wrapper {
  transition-timing-function: linear;
}

.mySwiper2 .swiper-slide {
  font-weight: 200;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 294px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.prev-next {
  position: relative;
  margin-top: 70px;
}

.swiper-button-prev::after {
  content: " ";
  display: block;
  height: 1px;
  width: 180px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
}

.swiper-button-next::after {
  content: " ";
  display: block;
  height: 1px;
  width: 180px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
}

.swiper-button-next,
.swiper-button-prev {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: auto;
  color: rgba(255, 255, 255, 0.6);
}

.main_slider {
  display: flex;
  gap: 65px;
  flex-flow: row nowrap;
  align-items: center;
}

.slider-image {
  flex: 0 0 auto;
  width: 530px !important;
  height: auto !important;
  margin-bottom: 0 !important;
}

.mySwiper .swiper-slide {
  cursor: "";
}



.careers {
  padding: var(--section-margin) 0;
  background: var(--bg-type-1-2);
  background-blend-mode: var(--bg-blend-1);
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.careers__inner {
  display: flex;
  flex-direction: column;
  gap: 49px;
  z-index: 2;
}

.careers__title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.careers .title,
.careers .subtitle {
  text-align: center;
}

.ax-line {
  width: 100%;
  height: 1px;
  background: rgba(89, 88, 88, 0.5);
  margin: 50px 0;
}


.vacations_page .careers {
  padding-top: calc(var(--section-margin) + 100px)
}

.vacations_wrap {
  display: flex;
  gap: 49px 40px;
  background: lightgray 0% 0% / 100px 100px repeat, linear-gradient(225deg, #232323 0%, #0E0E0E 100%);
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(15px);
  flex-wrap: wrap;
}

.vacations_wrap a {
  display: flex;
  max-width: 580px;
}

.vacation_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex: 1;
}

.vacation {
  border: 1px solid rgba(255, 255, 255, 0.20);

  padding: 32px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 49px;
  will-change: transform;
  transition: .5s cubic-bezier(.05, .5, 0, 1);
}


.vacation .arrow1 {
  line-height: 130%;
  align-self: baseline;
}

.arrow2 {
  display: none;
}

.vacation_left {
  text-align: left;
}

.vacation_title {
  width: 100%;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  text-transform: uppercase;
}

.more_arrov {
  display: none;
}

.v-more {
  font-weight: 300;
}

.vacation_subtitle {
  font-weight: 200;
  font-size: 16px;
  line-height: 150%;
}


.our_team {
  padding: var(--section-margin) 0;
  background: var(--bg-type-2);
  background-blend-mode: var(--bg-blend-1);
}

.our_team_inner {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.team_top {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 0 20px;
}

.team_top .subtitle {
  max-width: 64%;
}

.team_member {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;

}


.member_img {
  width: 100px !important;
  border-radius: 50%;
  filter: grayscale(100%);
  transition: all 0.3s ease-out;
}

.team_member:hover .member_img {
  filter: none;
  border-radius: 0;
}

.position {
  font-weight: 200;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */
  color: #D9D9D9;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.member_name {
  font-weight: 300;
  font-size: 24px;
  line-height: 110%;
  display: flex;
  align-items: center;
}

.projects {
  padding: var(--section-margin) 0;
  background: var(--bg-type-1-2);
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.projects__inner {
  z-index: 1;
}


.projects_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.projects__title {
  margin-bottom: 50px;
}

.project__item {
  display: flex;
  width: 100%;
  max-height: 500px;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.project_bg {
  object-fit: cover;
  width: 100%;
  transition: .5s cubic-bezier(.05, .5, 0, 1);
  position: relative;
}

.project_bg.mobi {
  display: none;
}

.project__item.align_right {
  justify-content: right;
  color: #000;
}



.project_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project_left {
  position: absolute;
  padding: 24px;
  max-width: 440px;
  left: 64px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(25px);
}

.project__item.align_right .project_left {
  right: 64px;
  left: auto;
}

.project_name {
  font-size: 52px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.project_desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 16px;
}

.project_content {
  font-weight: 400;
  font-size: 14px;
  line-height: 138%;
}

.project_right {
  width: 100%;
}

.project_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}




.hiring {
  background: var(--bg-type-2);
  background-blend-mode: var(--bg-blend-1);
  padding: var(--section-margin) 0;
  position: relative;
}

.hire_top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hiring_inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
  max-width: 690px;
}

.hire_cta .title {
  font-size: 64px;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.hire_cta {
  text-align: center;
}

.login-box {
  width: 100%;
  box-sizing: border-box;
}

.form_top {
  display: flex;
  justify-content: space-between;
}

.fio,
.email {
  width: 45%;
}

.login-box .user-box {
  position: relative;
  margin-bottom: 30px;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 0.5px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 150%;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
  transition: all 0.5s ease-out;
}

.file-box {
  margin-bottom: 30px;
}

input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  display: none;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

.portfolio {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  width: 100%;
  height: 100px;

  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23D3A188FF' stroke-width='1' stroke-dasharray='6%2c 14' stroke-dashoffset='4' stroke-linecap='square'/%3e%3c/svg%3e");

}

.porfolio__icon {
  text-align: center;
  color: #de9488;
}

.porfolio__icon p {
  text-align: center;
  color: #de9488;
}

.form_submit {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 18px 0;
  background: none;
  color: #de9488;
  border: 1px solid #de9488;
}

.block {
  background-color: #080808;
  height: 160px;
}

.footer {
  background-color: #060605;
  padding: var(--section-margin) 0;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .line {
  margin: 48px 0;
}


.footer_bottom {
  display: flex;
  justify-content: space-between;
}

.copiright {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.4;
}

.socials {
  display: flex;
  gap: 46px;
}

.nav .socials {
  display: none;
}

.social_icon svg path {
  transition: all 0.4s ease-in-out;
}

.social_icon:hover.social_icon svg path {
  fill: #de9488;
}

#smooth-content>section {
  margin-top: -1px;
  margin-bottom: -1px;
}

/* heading animation */
.anim-title .line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 100%;
}

.anim-title .char {
  transform: translateY(115px);
  transition: transform 0.6s;
}

/* carousel autoplay */
.mySwiper .swiper-wrapper {
  transition-timing-function: linear;
}

/******** about us page *******/

.success {
  display: flex;
  flex-direction: column;
}

.success .title {
  text-align: left;
}

.success .container {
  overflow-x: visible;
}

.success_section {
  display: flex;
  flex-wrap: wrap;
}

.success_inner {
  padding-top: var(--section-margin);
  background: var(--bg-type-1-2);
  background-blend-mode: var(--bg-blend-1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.success_inner .lines {
  width: 610vh;
}

.top_two_sections {
  z-index: 10;
}

.success__tittle {
  max-width: 600px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.success__descr {
  max-width: 650px;
  margin: 0 0 180px auto;
  text-align: right;
}

.gallery {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 180px;
  overflow-x: visible;
  will-change: transform;
}

.gallery img {
  width: 44%;
  height: 390px;
  object-fit: cover;
  object-position: center;
}

.gallery img.higher {
  margin-bottom: 65px;
}


.teambuildings {
  background: var(--bg-type-1);
  background-blend-mode: var(--bg-blend-1);
  padding-top: var(--section-margin);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.teambuildings .gallery img {
  height: 302px;
}

.teambuildings .gallery img.narrow {
  height: 383px;
}

.teambuildings .gallery img {
  width: 33%;
}

.teambuildings .gallery img.narrow {
  width: 20%;
}

.top_team {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 105px;
  margin: var(--section-margin) auto;
}

.top_team__title {
  margin-bottom: 25px;
}

.teambuildings_top {
  display: flex;
  align-items: center;
  z-index: 10;
  margin-bottom: var(--section-margin);
}

.teambuildings__tittle,
.teambuildings__descr {
  width: 50%;
}

.gallery1 {
  z-index: 10;
}

/* portfolio page */

.our_projects_page .projects {
  padding-top: calc(var(--section-margin) + 100px);
}

.title_and_descr {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--section-margin);
}

.title_and_descr .descr {
  width: 50%;
  text-align: justify;
}

.portfolio_item img {
  margin-bottom: 32px;
  width: 100%;
}

.portfolio_item .title {
  font-weight: 300;
  font-size: 32px;
  line-height: 110%;
}

/* contacts page */

.contacts_page .hiring {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.contacts_page .lines {
  width: 250vh;
}

.contacts_page .hiring_inner {
  z-index: 1;
}

.contacts_page .hiring {
  padding-top: calc(var(--section-margin) + 100px);
  background: var(--bg-type-1-2);
  background-blend-mode: var(--bg-blend-1);
  width: 100%;
}



/* AX MAP PAGE */

.ax_map_page .top_two_sections {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: calc(var(--section-margin) + 100px) 0 0;
  overflow: hidden;
}


.ax_map_page,
.ax_capital_page {
  background: radial-gradient(circle at 0% 25%,
      rgba(33, 19, 14, 1) 0%,
      rgba(8, 8, 8, 1) 39%,
      rgba(238, 130, 238, 0) 100%),
    radial-gradient(circle at 100% 70%,
      rgba(33, 19, 14, 1) 0%,
      rgba(8, 8, 8, 1) 58%,
      rgba(238, 130, 238, 0) 100%);
}

.ax_map_intro {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--section-margin));
  margin-bottom: var(--section-margin);
  z-index: 10;
}



.intro_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
}

.project_item_title {
  font-weight: 100;
  font-size: 120px;
  line-height: 90%;
}

.intro_left span {
  font-weight: 200;
  font-size: 16px;
  line-height: 150%;
  color: rgb(214, 214, 214);
}

.intro_left_bottom {
  display: flex;
}

.intro_year {
  margin-right: 100px;
}

.intro_right {
  max-width: 600px;
  text-align: right;
}

.about_axmap {
  z-index: 10;
}

.ax_imgs img {
  width: 100%;
}

.ax_imges img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 49%;
}

.ax_imges {
  margin-top: 1vw;
  display: flex;
  justify-content: space-between;
}

.map_functional {
  margin: var(--section-margin) auto;
}

.map_functional .video {
  background: none;
}

.map_functional .video__inner {
  top: 0;

}

.map_functional .title_and_descr {
  margin-bottom: 70px;
}

.map_process_imgs {
  display: flex;
  gap: 24px;
  overflow: scroll;
}

.map_process {
  margin-bottom: var(--section-margin);
}

.map_process .title {
  text-align: left;
}

.map_process .title_and_descr .descr {
  width: 100%;
}

.map_process .title_and_descr {
  flex-direction: column;
  width: 100%;
}

.ax_map_page .hiring {
  background: none;
}

/* ax capital */

.ax_capital_page .top_two_sections {
  background: var(--bg-type-1-2);
  background-blend-mode: var(--bg-type-1);
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--section-margin) 0 0;
  overflow: hidden;
}

.ax_capital_full_link {
  padding-bottom: 5px;
  border-bottom: 0.5px #ccc solid;
}

.ax_capital_page .video__inner {
  position: static;
  margin-bottom: var(--section-margin);
}

.ax_capital_page .video {
  background: none;
}


.about_ax_capital .title_and_descr {
  margin-bottom: 110px;
}

.ax_crm_page .about_ax_capital {
  margin: auto;
}

.mobile img {
  width: 100%;
}

.unique_ax_capital .title_and_descr {
  margin-bottom: 70px;
}


.ax_crm_page .unique_ax_capital,
.ax_crm_page .about_axmap {
  margin: var(--section-margin) auto;
}

.unique_ax_capital {
  margin-bottom: var(--section-margin);
}

/*  ax crm */

.ax_crm_page {
  background: none;
}

.ax_crm_page .top_two_sections {
  background: var(--bg-type-1-2);
  background-blend-mode: var(--bg-type-1);
  z-index: 1;
}

.ax-crm-image img {
  width: 100%;
}

.title_and_descr_col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ax-crm-functional {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  margin: var(--section-margin) auto;
}

.about_axmap .title_and_descr_col {
  margin-bottom: 70px;
}

.ax_crm-short {
  z-index: 10;
}

.ax_crm_page .title {
  text-align: left;
}

/* 3 phase */

.project_item_title {
  text-transform: uppercase;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  font-size: 140px;
  line-height: 90%;
  font-feature-settings: "pnum" on, "lnum" on;
}

.ax_phase .intro_left {
  width: 100%;
}

.ax_phase .project_item_title {
  text-align: center;
}

.ax_phase .intro_left_bottom,
.ax_phase span {
  display: none;
}

.ax_phase .about_ax_capital,
.ax_phase .title_and_descr {
  margin-bottom: 92px;
}

.ax-phase-image img {
  width: 100%;
  margin-bottom: var(--section-margin);
}

.phase-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 22px;
}

.phase-cards__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1919;
  flex-grow: 1;

  padding: 150px 45px;
}

.phase-cards__item-light {
  background-color: #dddddd;
}

.phase-cards__item-img {
  width: 100%;

  max-width: 500px;
  min-width: 200px;
}

.ax_phase .video__inner {
  top: 0;
}

.ax-phase-stat-image img {
  width: 100%;
}

.stat {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .projects__inner_desktop .orijects_right_inner,
  .projects__inner_desktop .project_img {
    min-width: 400px;
  }

  .video__inner {
    width: 1000px;
  }

  .project__item {
    height: 440px;
  }

  .vacations_wrap a {
    width: 48%;
  }
}



@media (max-width: 1040px) {
  .vacations_wrap a {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 960px) {
  .video__inner {
    position: static;
    width: 100%;
    height: auto;
    margin: 0;
  }

  .video_wrap {
    height: auto;
  }

  .video_img {
    position: static;
    height: auto;
  }

  .hiring {
    padding-bottom: var(--section-margin);
  }

  .hire_top {
    flex-direction: column;
    gap: 18px;
  }

  .hire_img {
    width: 100%;
  }

  .hire_right {
    gap: 30px;
  }

  .hire_right .title {
    padding: 0;
  }

  .hire_bottom {
    flex-direction: column;
    gap: 50px;
  }

  .hire_cta .title,
  .hire_cta .descr {
    padding: 0;
  }

  .top_team {
    flex-wrap: wrap;
    justify-content: center;
  }

  .intro_right {
    display: none;
  }

  .projects__inner_desktop .orijects_right_inner,
  .projects__inner_desktop .project_img {
    min-width: 350px;
  }
}

@media (max-width: 900px) {

  .project__item {
    height: 326px;
  }

  .project_left {
    left: 0;
    width: 300px;

  }

  .project_content {
    font-size: 12px;
  }

  .project_name {
    font-size: 40px;
  }
}

@media (max-width: 755px) {

  .title {
    font-size: 32px;
  }

  :root {

    --section-margin: 80px;
  }

  .cool_info {
    padding: 0 20px;
    padding-bottom: var(--section-margin) auto;
  }

  .cool_stat {
    flex-direction: column;
    gap: 30px;
  }

  .nav .socials {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
  }

  .menu_toggle {
    display: block;
  }

  .header {
    background-color: #080808;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .header .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: calc(100svh - 70px);
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;

    background-color: #000;
    background-image: url(../img/Ellipse\ 86.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .header .nav__menu {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 26px;
    font-weight: 100;
    font-size: 28px;
    line-height: 150%;
  }

  .footer {
    padding: 60px 0;
  }

  .footer .container {
    flex-direction: column;
    align-items: center;
    gap: 38px;
  }

  .footer .nav__menu {
    flex-direction: column;
    gap: 12px;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
  }

  .copiright {
    text-align: center;
  }

  .hero {
    min-height: auto;
    padding-top: var(--section-margin);
    padding-bottom: 24px;
  }

  .ax {
    font-size: 16px;
    line-height: 120%;
  }

  .utp {
    font-weight: 200;
    font-size: 32px;
    line-height: 110%;
  }

  .utp_slogan {
    font-size: 16px;
    line-height: 150%;
    width: auto;
  }


  .video__inner {
    top: 0;
  }

  .play {
    width: 95px;
  }

  .mySwiper .swiper-slide {
    height: 284px !important;
  }

  .prev-next {
    display: none;
  }

  .our_projects {
    padding-bottom: 50px;
  }



  .our_projects__inner {
    display: flex;
  }

  .careers .title {
    margin-bottom: 8px;
  }

  .arrow1 {
    display: none;
  }

  .arrow2 {
    display: block;
  }

  .vacations_wrap a {
    flex: auto;
  }

  .vacation_title {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
  }

  /* ABOUT US MOBILE */
  .success_inner {
    display: flex;
    flex-direction: column;
  }

  .success_section {
    margin-bottom: 100px;
  }

  .team_top {
    flex-direction: column;
    gap: 16px;
  }

  .team_top .title,
  .team_top .subtitle {
    max-width: 100%;
  }

  .top_team {
    flex-wrap: wrap;
    margin-bottom: var(--section-margin);
  }


  .project__item {
    height: 300px;
  }

  .project_left {
    left: 0;
    width: 300px;
  }

  .project__item.align_right .project_left {
    right: 0;
  }

  /* about us */
  .success__descr {
    margin: 0;
  }

  .gallery {
    margin-bottom: var(--section-margin);
  }

  .gallery img {
    width: 80%;
    height: auto;
  }

  .top_team__right img {
    width: 100%;
  }

  .top_team__title {
    margin-bottom: 16px;
  }

  .top_team {
    gap: 44px;
  }

  .teambuildings_top {
    flex-direction: column;
    margin-bottom: var(--section-margin);
  }

  .teambuildings__tittle,
  .teambuildings__descr {
    width: 100%;
  }

  .teambuildings .gallery img {
    width: 80%;
  }

  .teambuildings .gallery img.narrow {
    width: 70%;
  }

  /* portfolio page */

  .title_and_descr {
    flex-wrap: wrap;
    gap: 16px;
  }

  .title_and_descr .title,
  .title_and_descr .descr {
    width: 100%;
  }

  .portfolio_item img {
    height: 228px;
    object-fit: cover;
  }

  .portfolio_item .title_and_descr {
    margin-bottom: 70px;
  }

  .project_item_title {
    font-size: 42px;
    line-height: 90%;
  }

  .intro_left span {
    font-size: 14px;
    line-height: 150%;
  }

  .intro_left_bottom {
    flex-direction: column;
    gap: 16px;
  }

  .ax_map_intro {
    margin-bottom: var(--section-margin);
  }

  .about_axmap .title_and_descr,
  .map_process .title_and_descr {
    margin-bottom: 50px;
  }

  .map_functional .video__inner {
    margin-bottom: var(--section-margin);
  }

  .ax_map_page .video {
    padding-bottom: 0;
  }

  .about_axmap {
    margin-bottom: var(--section-margin);
  }

  .ax_crm-short .title_and_descr {
    margin-bottom: 52px;
  }



  .ax-crm-functional {
    flex-direction: column-reverse;
    margin-bottom: var(--section-margin);
  }

  .ax-crm-functional img {
    width: 100%;
  }

  .ax_crm_imges {
    flex-direction: column;
    gap: 3vw;
  }

  .ax_crm_imges img {
    width: 100%;
  }

  .ax_phase .project_item_title {
    margin-bottom: 15px;
  }

  .ax_phase .project_item_title {
    text-align: left;
  }

  .ax_phase .intro_left_bottom,
  .ax_phase span {
    display: flex;
  }

  .phase-cards__item {
    padding: 85px 25px;
  }

  .ax-phase-image img {
    margin-bottom: 92px;
  }

  .phase-cards {
    gap: 15px;
  }

  .ax_phase .about_axmap {
    display: none;
  }

  .stat {
    display: block;
  }
}

@media (max-width: 680px) {
  .project__item {
    height: 255px;
  }
}

@media (max-width: 600px) {


  .project__item {
    width: 92vw;
    max-height: 100%;
    align-items: baseline;
    height: 425px;
  }

  .project_bg {
    display: none;
  }

  .project_bg.mobi {
    display: block;
  }

  .project_bg {
    height: auto;
    object-position: 0 -85px;
  }

  .project_top {
    justify-content: space-around;
  }

  .project_name {
    width: 89%;
    font-size: 32px;
    margin: 0;
  }

  .project_left {
    background: none;
    backdrop-filter: unset;
    left: 50%;
    transform: translateX(-50%);
  }

  .project__item.align_right .project_left {
    left: 50%;
    transform: translateX(-50%);
  }

  .project_content {
    display: none;
  }

  .form_top {
    flex-direction: column;
  }

  .fio,
  .email {
    width: 100%;
  }


}

@media (max-width: 510px) {
  .project__item {
    height: 330px;
  }

  .project_bg {
    height: auto;
    object-position: 0 -23px;
  }

}

@media (max-width: 360px) {
  .project__item {
    height: 262px;
  }

  .project_bg {
    object-position: 0 -23px;
  }

  .project_name {
    width: 65%;
  }


}

@media (max-width: 480px) {


  .ax {
    font-size: 20px;
  }

  .utp {
    font-size: 32px;
  }

  .swiper-slide-active {
    max-width: 91vw !important;
    transition: all 0.3s ease-out;
  }

  .swiper-slide {
    transition: all 0.3s ease-out;
  }

  .lines {
    justify-content: space-evenly;

  }
}