@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Forum&family=Inter&family=Jost:wght@300;400&family=Montserrat:wght@100;200;300;400&family=Quicksand:wght@500&family=Raleway:wght@100;200&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link, a{
	color: inherit;
    text-decoration: none;
}


/**********  BEGIN  ************/

.container{
	max-width: 1200px;
	margin: 0 auto;
}


body{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.luxury{
	text-transform: uppercase;
	background: linear-gradient(61.77deg, #E6AD83 33.48%, #E5BC9E 39.83%, #E6AD83 51.52%, #FADEC4 69.34%, #E6AD83 75.58%), #9F6A48;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.title{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100;
	font-size: 52px;
	line-height: 110%;
}

.subtitle{
	font-weight: 200;
	font-size: 16px;
	line-height: 150%;
}

.button_block{
	text-align: center;
}

.button{
	display: inline-block;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	/* identical to box height, or 114% */

	text-transform: uppercase;

	/* primary */

	color: #D3A188;

	margin: 48px auto 0;
	padding: 18px 85px;
	border: 1px solid;
}

.hero{
	background: radial-gradient(87.52% 87.52% at 50% 94.14%, rgba(95, 46, 30, 0.4) 0%, rgba(61, 25, 5, 0.4) 27.08%, rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4) 100%), #000000;
	min-height: 754px;
	display: flex;
	justify-content: center;
}

.header{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}

.header .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 32px 0;
}

.nav__menu {
	font-weight: 300;
	font-size: 14px;
	display: flex;
	gap: 48px;
	flex-wrap: wrap;
}

.menu__item a:hover{
	background: linear-gradient(88.91deg, #CC9177 2.38%, #E5B59E 26.1%, #C18369 52.72%, #EAB498 73.58%, #E6A483 100.04%), #D3A188;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	transition: background 0.5s ease-in-out;
}

.hero_text{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 25px;
	max-width: 811px;
}
.ax{
	font-weight: 200;
	font-size: 32px;
	line-height: 120%;
}

.utp{
	text-align: center;
	font-weight: 100;
	font-size: 64px;
	line-height: 110%;
	text-transform: uppercase;
}

.utp_slogan{
	font-weight: 200;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	width: 522px;
}

.video{
	background: #000000;
}

.video__inner{
	position: relative;
	top: -130px;
}

.video_img{
	width: 100%;
    max-width: 1200px;
    height: auto;
}

.play{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	transition: opacity 0.2s ease-in-out;
}

.play:hover{
	opacity: 0.8;	
}


.our_projects{
	background: #000000;
	padding-bottom: 200px;
}

.our_projects .container{
	overflow: visible;
}

.our_projects .title{
	margin-bottom: 48px;
}


/*                   Slider                   */

.swiper {
	width: 100%;
	height: 100%;
}

.mySwiper .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 338px!important;
	height: 367px !important;
}

.mySwiper2 .swiper-slide {
	font-weight: 200;
	font-size: 16px;
	line-height: 150%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 294px!important;
}


.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.prev-next{
	position: relative;
	margin-top: 35px;
}


.swiper-button-prev::after {
    content: " ";
	display: block;
	height: 1px;
	width: 180px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.6);
}

.swiper-button-next::after {
    content: " ";
	display: block;
	height: 1px;
	width: 180px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.6);
}

.swiper-button-next, .swiper-button-prev {
    font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	width: auto;
	color: rgba(255, 255, 255, 0.6);
}

.careers{
	background-color: #000000;
	position: relative;
}
.careers__inner{
	position: relative;
	padding-bottom: 136px;
}

.careers .gradient{
	position: absolute;
    left: 0;
    top: -100%;
    height: 300%;
}

.careers .title{
	margin-bottom: 24px;
}

.careers .subtitle{
	margin-bottom: 66px;
}

.line{
	width: 100%;
	height: 1px;
	background:  rgba(89, 88, 88, 0.5);
	margin-bottom: 36px;
}

.vacation_content{
	display: flex;
	padding-bottom: 30px;
	justify-content: space-between;
	align-items: center;
}
.vacation_left{
	width: 50%;
	text-align: left;
}

.vacation_title{
	font-weight: 200;
	font-size: 28px;
	line-height: 130%;
	margin-bottom: 16px;

	text-transform: uppercase;
}
.vacation_subtitle{
	font-weight: 200;
	font-size: 16px;
	line-height: 150%;
}


.vacation_right{
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 10px;
	margin-right: 20px;
}

.our_team{
	background-color: #000000;
	padding-bottom: 160px;
}

.our_team .container{
	overflow: visible;
}

.team_top{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 89px;
}

.team_top .subtitle{
	max-width: 50%;
}

.team_top .title{
	max-width: 30%;
}
.team_member{
	padding-left: 12px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.position{
	font-weight: 200;
	font-size: 14px;
	line-height: 110%;
	/* or 15px */

	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.member_name{
	font-weight: 400;
	font-size: 24px;
	line-height: 110%;
	/* or 26px */

	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.team_member::before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: linear-gradient(88.91deg, #CC9177 2.38%, #E5B59E 26.1%, #C18369 52.72%, #EAB498 73.58%, #E6A483 100.04%), #D3A188;
}